@import url('./main-layout.css');

main {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: var(--lumo-space-m);
    padding: var(--lumo-space-m);
    align-items: flex-start;
}